@import url('https://fonts.googleapis.com/css?family=Roboto');
html, body {
    font: 16px/1.5 'Roboto', Sans-serif !important;
    height: 100%;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
header {
    color: #82868f;
    height: auto;
}
header a {
    color: #82868f;
    text-decoration: none;
    text-transform: uppercase;
}
header div {
    display: inline-block;
    margin-right: 5px;
}
.logo {
    margin-left: 10px;
}
nav {
    font-size: 14px;
    float: right;
    display: inline-block;
    margin-top: 30px;
    margin-right: 5px;
}
.container {
    width: 80%;
    margin: auto;
    overflow: hidden;
}
.btn {
    padding: 10px;
    text-transform: uppercase;
    border: 0;
    border-radius: 25px;
    background: #0ebfdd;
    color: #fff;
}
.btn:hover {
    background: #1ca8bf
}
section .img {
    height: 450px;
    background-size: cover;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../images/image_1.jpeg");
    padding: 0;
}
.txt-img {
    color: #fff;
    text-align: center;
    position: relative;
    top: 200px;
}
.txt {
    text-align: center;
}
.about {
    color: #676a6d;
}
.about h1 {
    color: #0ebfdd;
}
.team-text {
    background: #0ebfdd;
    color: #fff;
}
.team-member {
    margin-bottom: 15px;
}
.team-member-img {
    text-align: center;
}
.team-member-img img {
    height: 120px;
    width: 120px;
    border-radius: 100px;
}
.team-member-txt {
    text-align: center;
}
.btn-team {
    width: 100%;
    border: 1px solid #fff;
    padding: 15px;
}
.align-center {
    margin: auto;
}
section .reset {
    padding: 0;
    margin: 0;
}
footer {
    padding-top: 20px;
    text-align: center;
    background: #45494d;
    color: #fff;
}
footer a {
    margin-left: 5px;
    margin-right: 5px;
    text-transform: uppercase;
    text-decoration: none;
    color: #fff;
}
footer div a {
    font-size: 12px;
}
footer button {
    margin: 20px 5px 0 5px;
    padding: 25px;
    background: #45494d;
    border: 1px solid #d7dee4;
    border-radius: 300px;
}
footer .reset {
    margin: 0;
    padding: 0;
}
.footer-content {
    padding: 10px;
    border-bottom: 1px solid #5a5e62;
    height: 120px;
}
.footer-content div {
    margin-bottom: 15px;
}
.footer-content a {
    font-size: 16px;
}
.btn-tt {
    background: url("../icons/twitter-logo.png");
}
.btn-fb {
    background: url("../icons/fb-logo.png");
}
.btn-em {
    background: url("../icons/email-logo.png");
}
.btn-sm {
    margin: 0;
    background-repeat: no-repeat;
    background-position: center;
}
@media (min-width: 640px) {
    header {
        margin-left: 150px;
        margin-right: 150px;
    }
    .txt-img {
        top: 250px;
        width: 50%;
        text-align: center;
        margin: auto;
    }
    .about {
        width: 50%;
        margin: auto;
        margin-bottom: 50px;
    }
    .container{
        width: 40%;
    }
    .team-text {
        margin-bottom: 100px;
    }
    div .btn-team {
        margin: auto;
    }
    .team-member {
        text-align: center;
        margin-bottom: 100px;
    }
    .btn-team {
        width: 15%;
    }
    .btn-team:hover {
        background: #1ca8bf
    }
    .btn-sm {
        height: 20px;
    }
    .ft-right {
        float: right;
        text-align: right;
    }
    .ft-left {
        float: left;
        text-align: left;
    }
    .footer-content {
        width: 80%;
        margin: auto;
        height: 80px;
    }
    .footer-content div a {
         margin-top: 20px;
    }
    .ft-small {
        text-align: right;
        width: 80%;
        margin-top: 10px;
        margin: auto;
        padding: 5px;
    }
    .ft-small div {
        display: inline;
    }
    .ft-small div:nth-last-child(2) {
        border-right: 1px solid #5a5e62;
        border-left: 1px solid #5a5e62;
    }
    .ft-small a {
        font-size: 10px;
    }
}
