@import url('https://fonts.googleapis.com/css?family=Roboto');
html, body {
    font: 16px/1.5 'Roboto', Sans-serif !important;
    height: 100%;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
header {
    color: #82868f;
    height: auto;
}
header a {
    color: #82868f;
    text-decoration: none;
    text-transform: uppercase;
}
header div {
    display: inline-block;
    margin-right: 5px;
}
.logo {
    margin-left: 10px;
}
nav {
    font-size: 14px;
    float: right;
    display: inline-block;
    margin-top: 30px;
    margin-right: 5px;
}
.container {
    width: 80%;
    margin: auto;
    overflow: hidden;
}
.btn {
    padding: 10px;
    text-transform: uppercase;
    border: 0;
    border-radius: 25px;
    background: #0ebfdd;
    color: #fff;
}
section .img {
    height: 450px;
    background-size: cover;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../images/image_1.jpeg");
    padding: 0;
}
.txt-img {
    color: #fff;
    text-align: center;
    position: relative;
    top: 200px;
}
.txt {
    text-align: center;
}
.about {
    color: #676a6d;
}
.about h1 {
    color: #0ebfdd;
}
.team-text {
    background: #0ebfdd;
    color: #fff;
}
.team-member {
    margin-bottom: 15px;
}
.team-member-img {
    text-align: center;
}
.team-member-img img {
    height: 120px;
    width: 120px;
    border-radius: 100px;
}
.team-member-txt {
    text-align: center;
}
.btn-team {
    width: 100%;
    border: 1px solid #fff;
    padding: 15px;
}
.align-center {
    margin: auto;
}
section .reset {
    padding: 0;
    margin: 0;
}
